<div id="component">
  <div id="pagetitle">
    <span>{{ pagetitle }}</span>
  </div>

  <div id="content" *ngIf="purchaserequestlineitem">
       <div class='form-group row' >
        <p><label class='col-form-label col-sm-2' for="purchaserequestlineitemproduct">Product:</label></p>
      
      <tr>
      <div class='col-sm-6 select-list'>
        <select [(ngModel)]='purchaserequestlineitem.ProductId' [compareWith]='compareFn' class='form-control' name='Product' id='purchaserequestlineitem-Product'>
        <option *ngFor="let product of products" [ngValue]="product.Id" [selected]="product.Id == purchaserequestlineitem.ProductId">{{product.Name}}
        </option>
        </select>
      </div>
      </tr>

      <tr>
      <div class="form-group row">
      <p><label class='col-form-label col-sm-2' for="purchaserequestlineitemquantity">Quantity:</label></p>
      <tr><input [(ngModel)]='purchaserequestlineitem.Quantity' name='Quantity' type="text" class="form-control col-sm-6" id="purchaserequestlineitemquantity" aria-describedby="QuantityHelp" placeholder="Quantity"></tr>
      <small id="QuantityHelp" class="form-text text-muted col-sm-2"></small>
      </div>  
      </tr> 

    <tr>
    <div>
      <button (click)="Create()" class="btn btn-warning">Create</button>
    </div>
    </tr>
  </div>
</div>
