<div id="component">
  <div id="pagetitle">
    <span>{{ pagetitle }}</span>
  </div>
  <div id="content" *ngIf="purchaserequest">
    <table class="table table-sm">
      <tr>
        <th>Id</th>
        <th>Description</th>
        <th>Justification</th>
        <th>Status</th>
        <th>Total</th>
        <th>User</th>
      </tr>
      <tr>
        <td>{{purchaserequest.Id}}</td>
        <td>{{purchaserequest.Description }}</td>
        <td>{{purchaserequest.Justification}}</td>
        <td>{{purchaserequest.Status}}</td>
        <td>{{purchaserequest.Total | currency}}</td>
        <td>{{purchaserequest.User.LastName}}</td>
      </tr>
    </table>
    <hr />
    <table class="table table-sm">
      <tr>
        <th>Id</th>
        <th>Product</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Subtotal</th>
      </tr>
      <tr *ngFor="let purchaserequestlineitem of purchaserequest.PurchaseRequestLineItems">
        <td>{{ purchaserequestlineitem.Id }}</td>
        <td>{{ purchaserequestlineitem.Product.Name }}</td>
        <td>{{ purchaserequestlineitem.Quantity }}</td>
        <td>{{ purchaserequestlineitem.Product.Price | currency }}</td>
        <td>{{ (purchaserequestlineitem.Quantity * purchaserequestlineitem.Product.Price) | currency }}</td>
      </tr>
    </table>
    <button (click)="approve()" class="btn btn-success">Approve</button> |
    <button (click)="reject()" class="btn btn-danger">Reject</button>
   <span [hidden]="!verifyReject"> | <button (click)="reject()" class="btn btn-danger">Verify Reject</button>
      <div>
        <p></p>
        <div class="form-group row">
          <label class='col-form-label col-sm-2' for="purchaseRequestRejectionReason">RejectionReason:</label>
          <input [(ngModel)]='purchaserequest.RejectionReason' name='RejectionReason' type="text" class="form-control col-sm-6" id="purchaseRequestRejectionReason" aria-describedby="RejectionReasonHelp" placeholder="RejectionReason">
          <small id="RejectionReasonHelp" class="form-text text-muted col-sm-2"></small>
        </div> 
      </div>
    </span>
  </div>
</div>