<div id ="component">
	<div id="pagetitle">
		<span> {{ pagetitle }} </span> 
	</div>
	<div id="content" *ngIf="purchaserequest">
		<div class ="form-group row">
			<label class = 'col-form-label col-sm-2' for="purchaserequestdescription">Description: </label>
			<input [(ngModel)]='purchaserequest.Description' name ='Name' type='text'
			class="from-control col-sm-6" Id="Purchaserequestdescription" aria-describedby="DescriptionHelp" placeholder="Description">
			<small Id = "DescriptionHelp" class= "form-text text-muted col-sum-2"> </small> 
		</div>
		<div class ="form-group row">
			<label class = 'col-form-label col-sm-2' for="purchaserequestjustification">Justification: </label>
			<input [(ngModel)]='purchaserequest.Justification' name ='Justification' type='text'
			class="from-control col-sm-6" Id="Purchaserequestjustification" aria-describedby="JustificationHelp" placeholder="Justification">
			<small Id = "JustificationHelp" class= "form-text text-muted col-sum-2"> </small> 
		</div>
<!--     <div class ="form-group row">
      <label class = 'col-form-label col-sm-2' for="purchaserequestrejectionreason">RejectionReason: </label>
      <input [(ngModel)]='purchaserequest.RejectionReason' name ='RejectionReason' type='text'
      class="from-control col-sm-6" Id="purchaserequestrejectionreason" aria-describedby="RejectionReasonHelp" placeholder="RejectionReason">
      <small Id = "RejectionReasonHelp" class= "form-text text-muted col-sum-2"> The purchaserequest rejection reason </small> 
    </div> -->
		<div class ="form-group row">
			<label class = 'col-form-label col-sm-2' for="purchaserequestdeliverymode">DeliveryMode: </label>
			<input [(ngModel)]='purchaserequest.DeliveryMode' name ='DeliveryMode' type='text'
			class="from-control col-sm-6" Id="purchaesrequestdeliverymode" aria-describedby="DeliveryModeHelp" placeholder="DeliveryMode">
			<small Id = "DeliveryModeHelp" class= "form-text text-muted col-sum-2"> Options: Pickup at Store or Drop Off At Business </small> 
		</div>
<!--     <div class="form-group row">
      <label class='col-form-label col-sm-2' for="Status">Status:</label>
      <input [(ngModel)]='purchaserequest.Status' name='Status' type="text" class="form-control col-sm-6" id="Status" aria-describedby="StatusHelp" placeholder="Status">
      <small id="StatusHelp" class="form-text text-muted col-sm-2">The Status</small>
    </div> --> 
		<div class ="form-group row">
			<label class = 'col-form-label col-sm-2' for="purchaserequesttotal">Total: </label>
			<input [(ngModel)]='purchaserequest.Total' name ='Total' type='text'
			class="from-control col-sm-6" Id="purchaserequesttotal" aria-describedby="TotalHelp" placeholder="Total">
			<small Id = "TotalHelp" class= "form-text text-muted col-sum-2"> If total is >$50 needs approval </small> 
		</div>
<!--     <div class="form-group row">
      <label class='col-form-label col-sm-2' for="Active">Active:</label>
      <input [(ngModel)]='purchaserequest.Active' name='ActiveMode' type="checkbox" class="form-control col-sm-6" id="Active" aria-describedby="ActiveHelp" placeholder="ActiveMode">
      <small id="ActiveHelp" class="form-text text-muted col-sm-2"></small>
    </div> --> 
		<div class = 'from-group row'>
				<label class ='col-from-label col-sm-2' for ="purchaserequestuser">User: </label>
		<div class = 'col-sm-6 select-list'>
				<select [(ngModel)] ='purchaserequest.UserId' [compareWith] ='compareFn' class='
				form-control' name= 'User' Id= 'purchaserequest-User'>
				<option *ngFor="let user of users" [ngValue]="user.Id" [selected]="
				user.Id == purchaserequest.UserId" > {{ user.LastName }}</option>
				</select>
		</div>
	</div>
	<div>
		<button (click)="Create()" class="btn btn-success" >Create</button>
	</div>
</div>
</div>
