<div id ="component">
	<div id="pagetitle">
		<span> {{ pagetitle }} </span> 
	</div>
	<div id="content" *ngIf="product">
		<div class ="form-group row">
			<label class = 'col-form-label col-sm-2' for="productvendorpartnumber">VendorPartNumber: </label>
			<input [(ngModel)]='product.VendorPartNumber' name ='VendorPartNumber' type='text'
			class="from-control col-sm-6" Id="productvendorpartnumber" aria-describedby="VendorPartNumberHelp" placeholder="VendorPartNumber">
			<small Id = "VendorPartNumberHelp" class= "form-text text-muted col-sum-2"> The vendor part number </small> 
		</div>
		<div class ="form-group row">
			<label class = 'col-form-label col-sm-2' for="productname">Name: </label>
			<input [(ngModel)]='product.Name' name ='Name' type='text'
			class="from-control col-sm-6" Id="Productname" aria-describedby="NameHelp" placeholder="Name">
			<small Id = "NameHelp" class= "form-text text-muted col-sum-2"> The product name </small> 
		</div>
		<div class ="form-group row">
			<label class = 'col-form-label col-sm-2' for="productprice">Price: </label>
			<input [(ngModel)]='product.Price' name ='Price' type='text'
			class="from-control col-sm-6" Id="productprice" aria-describedby="PriceHelp" placeholder="Price">
			<small Id = "PriceHelp" class= "form-text text-muted col-sum-2"> The product price </small> 
		</div>
		<div class ="form-group row">
			<label class = 'col-form-label col-sm-2' for="productunit">Unit: </label>
			<input [(ngModel)]='product.Unit' name ='Unit' type='text'
			class="from-control col-sm-6" Id="productunit" aria-describedby="UnitHelp" placeholder="Unit">
			<small Id = "UnitHelp" class= "form-text text-muted col-sum-2"> The product unit </small> 
		</div>
		<div class ="form-group row">
			<label class = 'col-form-label col-sm-2' for="productphotopath">PhotoPath: </label>
			<input [(ngModel)]='product.PhotoPath' name ='PhotoPath' type='text'
			class="from-control col-sm-6" Id="productphotopath" aria-describedby="PhotoPathHelp" placeholder="PhotoPath">
			<small Id = "PhotoPathHelp" class= "form-text text-muted col-sum-2"> The product photopath </small> 
		</div>
		<div class = 'from-group row'>
				<label class ='col-from-label col-sm-2' for ="productvendor">Vendor: </label>
		<div class = 'col-sm-6 select-list'>
				<select [(ngModel)] ='product.VendorId' [compareWith] ='compareFn' class='
				form-control' name= 'Vendor' Id= 'product-Vendor'>
				<option *ngFor="let vendor of vendors" [ngValue]="vendor.Id" [selected]="
				vendor.Id == product.VendorId" > {{ vendor.Name }}</option>
				</select>
		</div>
	<div>
		<button (click)="create()" class="btn btn-success" >Create</button>
	</div>
</div>
</div>
